NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_GTM_ID=GTM-5GMTXZZV
NEXT_PUBLIC_GA_MEASUREMENT_ID=
NEXT_PUBLIC_MANUAL_PAYMENT_QR_IMAGE=/manual-payment-qr.png
NEXT_PUBLIC_PAYPAL_CLIENT_ID=

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
PAYPAL_ENV=sandbox
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=

RESEND_API_KEY=
EMAIL_FROM=刘Unnie <notifications@your-domain.com>
NOTIFICATION_EMAIL=jin.yoon.builds@gmail.com,teamlead@example.com
